<!-- Banner -->
<section id="banner">

    <!--
                    ".inner" is set up as an inline-block so it automatically expands
                    in both directions to fit whatever's inside it. This means it won't
                    automatically wrap lines, so be sure to use line breaks where
                    appropriate (<br />).
                -->
    <div class="inner alt">

        <header>
            <picture id="logo">
                <source media="(min-width:650px)" srcset="images/Przystanek_logo_RGB_bialy_napis.png" width="400"
                    height="400">
                <img src="images/Przystanek_logo_RGB_bialy_napis.png" width="200" height="200">
            </picture>
        </header>

        <p>miejsce spotkań i rozwoju osobistego</p>
        <footer>
            <ul class="buttons stacked">
                <li><a href="#main" class="button fit scrolly">Zobacz więcej</a></li>
            </ul>
        </footer>

    </div>

</section>