	<!-- Header -->
    <header id="header" class="alt">
        <a href="index.html">

        </a>
        <nav id="nav">
            <ul>
                <li class="current"><a href="index.html">O NAS</a></li>
                <li class="current"><a href="index.html">OFERTA</a></li>
                <li class="current"><a href="index.html">GALERIA</a></li>
                <li class="current"><a href="index.html">KONTAKT</a></li>
                <li class="current"><a href="index.html">ROZKŁAD JAZDY</a></li>
                <!-- <li class="submenu">
                    <a href="#"><strong>Rozkład jazdy</strong></a>
                    <ul>
                        <li><a href="left-sidebar.html">Oferta</a></li>
                        <li><a href="right-sidebar.html">Kontakt</a></li>
                        <li><a href="no-sidebar.html">Galeria</a></li>
                        <li><a href="contact.html">Nasza ekipa</a></li>
                         <li class="submenu">
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Dolore Sed</a></li>
                                <li><a href="#">Consequat</a></li>
                                <li><a href="#">Lorem Magna</a></li>
                                <li><a href="#">Sed Magna</a></li>
                                <li><a href="#">Ipsum Nisl</a></li>
                            </ul>
                        </li> 
                    </ul>
                </li> -->
            </ul>
        </nav>
    </header>